extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Signle Product'}
block content_block
	+bread(['Главная'], 'Ямобур AICHI D-705 на базе КАМАЗ 4326 (вездеход)')
	section.single_products
		.section_in 
			.singleProducts_main
				.single_products_gallery
					.products_slider.swiper 
						.swiper-wrapper
							-for(i = 0; i < 5; i++) 
								.swiper-slide 
									.product_slide_img 
										+pic({
											img: 'i/catalog/products'
										})
					.product_slider_pug
				.single_products_content 
					.single_products_title 
						h1 Ямобур AICHI D-705 на базе КАМАЗ 4326 (вездеход)
					.single_products_param 
						ul.products_param_list
							-for(i = 0; i < 4; i++) 
								li.products_param_item 
									span Диаметр бурения:
									p 200 – 800 мм
					.single_products_prices 
						p от 18 000 руб.
						span (цена за смену 7+1 часов)
					.single_products_pay.btn-standart.trigger_form
						a(href="#")
							p Заказать
							.btn-icon
			.singleProducts_txt_block 
				h3 Описание техники:
				.singleProducts_txt_content 
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
	+other_block({
		title: 'Вам может подойти:'
	})